# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Model artifacts
models/
*.joblib

# MLflow run directory
mlruns/


# Raw data
data/*.csv

# Logs and outputs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Env variables
.env
